@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&family=Noto+Sans+KR:wght@400;500;700&display=swap');
@font-face { 
  font-family:'S-CoreDream';
  font-style:normal;
  font-weight: normal; 
  src: url(../font/S-CoreDream-7ExtraBold.woff) format('woff')
}
@font-face { 
  font-family:'tway';
  font-style:normal;
  font-weight: normal; 
  src:
  url(../font/tway_air.ttf) format('truetype')
}

@font-face { 
  font-family:'SCDream';
  font-style:normal;
  font-weight: 100; 
  src:
  url(../font/SCDream1.otf) format('opentype')
}
@font-face { 
  font-family:'SCDream';
  font-style:normal;
  font-weight: 200; 
  src:
  url(../font/SCDream2.otf) format('opentype')
}
@font-face { 
  font-family:'SCDream';
  font-style:normal;
  font-weight: 300; 
  src:
  url(../font/SCDream3.otf) format('opentype')
}
@font-face { 
  font-family:'SCDream';
  font-style:normal;
  font-weight: 400; 
  src:
  url(../font/SCDream4.otf) format('opentype')
}
@font-face { 
  font-family:'SCDream';
  font-style:normal;
  font-weight: 500; 
  src:
  url(../font/SCDream5.otf) format('opentype')
}
@font-face { 
  font-family:'SCDream';
  font-style:normal;
  font-weight: 600; 
  src:
  url(../font/SCDream6.otf) format('opentype')
}
@font-face { 
  font-family:'SCDream';
  font-style:normal;
  font-weight: 700; 
  src:
  url(../font/SCDream7.otf) format('opentype')
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


body {
  background: rgb(204,204,204); 
  font-family:'SCDream';
  font-weight: 300;
  color:#333;
  font-size: 62.5%;
}
canvas{max-width:100% !important}

page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] {  
  width: 21cm;
  height: 29.7cm; 
}
page[size="A4"][layout="landscape"] {
  width: 29.7cm;
  height: 21cm;  
}
page[size="A3"] {
  width: 29.7cm;
  height: 42cm;
}
page[size="A3"][layout="landscape"] {
  width: 42cm;
  height: 29.7cm;  
}
page[size="A5"] {
  width: 14.8cm;
  height: 21cm;
}
page[size="A5"][layout="landscape"] {
  width: 21cm;
  height: 14.8cm;  
}

ul,li,div,p,textarea{ font-family:'SCDream';}

ul,li,p{padding:0;margin:0}


.bg_blue{background:#007bb8}
.bg_blue01{background:rgba(0, 123, 184, 0.2) !important}

.bg_green{background:#289d42}
.bg_bgreen01{background:rgba(40, 157, 66, 0.2) !important; }
.tx_blue{color:#3a4ca8}
.tx_green{color:#00ddc1}
.tx_red{color:#fe5060}
.tx_yellow{color:#ffa401}

*,
*::before,
*::after {
  box-sizing: border-box;
}

div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video 
{ margin: 0; padding: 0; border: 0; font-size: var(--tai-body-font-size);   font-family:'SCDream'; vertical-align: baseline; }

table { border-collapse: collapse; border-spacing: 0; color:#000}


#page_header{width:18.4cm;height:2.55cm;display:flex;flex-direction: row; justify-content: space-between;align-items: flex-end; border-bottom: 0.1cm solid #e7e7e7;margin: 0 auto;}
#page_header h1{width:10cm;margin:0 0 0.3cm 0.24cm;padding:0;display:flex;align-items: center;justify-content: flex-start;font-size: 1.1rem;font-family: 'tway';color:#464646;}
#page_header .number{width:3cm;margin:0 0.24cm 0.3cm 0;padding:0;display:flex;align-items: center;justify-content:flex-end;font-size: 1rem;color:#b7b7b7;font-family: 'tway';}

#page_footer{width:100%;height:0.93cm;display:flex;flex-direction: row; justify-content: center; align-items: center; background:url("../img/footer-logo.png") no-repeat center 0;
background-size:auto 0.93cm;font-size:0}
/*#page_footer{font-size:0.938rem;margin-bottom:0.92cm;text-align:center;color:#8a2525;
  display:flex;flex-direction: column; justify-content: center; align-items: center;font-family:'Noto Sans KR', serif;font-weight:500}
#page_footer strong{font-family:'Merriweather', serif; font-style: italic; font-weight:700}*/


#content{width:21cm;padding:0 1cm;height:26cm;}

.pf-ul{display:flex;flex-direction:column;padding:1.25cm 0 0 0;list-style-type:none}
.pf-ul.pdi{padding:0.62cm 0 0 0;}
.pf-ul li{flex-direction: column; justify-content: flex-start;}
.pf-tit{padding-left:0.86cm;color:#7e7e7e;font-size:1.2rem;font-weight:700;background:url("../img/icon_info.png") no-repeat 0 -2px;background-size: 0.4cm 0.6cm;font-family: 'tway';line-height: 21px;}
.pf-pdi-tit{padding-left:0.86cm;color:#ff5100;font-size:1rem;font-weight:700;font-family: 'tway';line-height: 21px;}
.pf-pdi-tit p:last-child{padding-left: 0.6cm;margin-top: 0.2cm;}
.pf-tit.secon{margin-top: 0.72cm;}
.pf-tit span{font-family: 'tway';color:#ff5100;}
.pf-ul li .pf-inner{font-size:0.938rem;padding:1cm 0 1.59cm 0.95cm;color:#333;line-height: 1.7rem;}
.pf-ul li ol.pf-inner-ol{list-style-type:disc;margin:0;padding:0.34cm 0 1.59cm 1.4cm;line-height: 1.7rem;}
.pf-ul li ol.pf-inner-ol.pd-btm{padding-bottom:0.5cm}
.pf-ul li ol.pf-inner-ol > li{font-size:0.938rem;padding-bottom:0.13cm}
.pf-ul li ol.pf-inner-ol > li::marker{margin-right: 0;}
.pf-ul li ol.pf-inner-ol > li.last-child{padding-left:0;list-style-type:none}
.pf-ul li ol.pf-inner-ol li > ol{list-style-type: decimal;padding:0 0 0 0.39cm;margin:0}
.pf-ul li ol.pf-inner-ol li > ol li{padding-bottom:0.13cm}

.pf-ul li ul.pf-inner-ul{list-style-type:none;margin:0;padding:0.34cm 0 1.59cm 1cm;line-height: 1.7rem;}
.pf-ul li ul.pf-inner-ul + .pf-inner {padding:0.4cm 0 1.59cm 0.95cm;}
.pf-ul li ul.pf-inner-ul > li{font-size:0.938rem;padding-bottom:0.13cm}

.pf-ul li .pf-inner01{background:#f0f0f0;padding:0.53cm}
.pf-ul li .pf-inner01 .pf-tit01{font-size:1rem;color:#000;font-weight:700}
.pf-ul li .pf-inner01{background:#f0f0f0;padding:0.53cm}
.pf-ul li .pf-inner01 ol{padding-left:0.55cm;padding-bottom:0;}
.pf-ul li .pf-inner01 ol li{font-size:0.875rem;}

.pf-ul li .pf-inner02{font-size:0.938rem;padding:1cm 0 0.5cm 0.95cm;color:#333;line-height: 1.7rem;}
.pf-ul li .pf-inner03{font-size:0.938rem;padding:0.5cm 0 0.5cm 0.95cm;color:#333;line-height: 1.7rem;}


.pf-type{display:flex;flex-direction: row;justify-content: space-between;padding: 0 1.19cm;}
.pf-type .pf-type-ic{display:flex;align-items: center;gap:0.4cm;font-size: 1.3rem;line-height: 31px;}
.pf-type .pf-type-ic .type-con{font-family: 'tway';}
.pf-type .type-icon{width:2.75cm;height:2.75cm;position: relative;background: url(../img/docs_circle.png)no-repeat center/contain;}
.pf-type .type-icon div:last-child{position: absolute;left: 19px;top: 19px;width: 1.6cm;height: 2cm;}
.pf-type .type-icon img{width:100%}

.pf-type .pf-type-inner{width:9.25cm;padding:0 0.18cm 0.18cm 0.18cm;} 
.pf-type .pf-type-inner .type-tit{height:1.22cm;color:#fff;font-size:1.125rem;display:flex;justify-content: center; align-items: center;}
.pf-type .pf-type-inner .type-con{background:#fff;font-size:0.938rem;padding:0.55cm;text-align:center}
.pf-result{display: flex; align-items: center;margin-top: 0.67cm;}
.pf-result .pf-type .type-con{font-size: 1.2rem;font-family: 'tway';display: flex;align-items: center;gap:0.45cm}
.pf-result .pf-type .type-con .word-box{display: inline-block; background-color: #e9e9e9;width:3.86cm;height:0.85cm;}
.pf-result .pf-type .type-icon{width: 1.89cm;  height: 1.8cm;}
.pf-result .pf-type .type-icon div:last-child{left: 12px;  top: 12px;  width: 1.2cm;  height: 0.99cm;}
.pf-result .pf-type {padding: 0 0.9cm 0 1.19cm;}
.pf-ul li .pf-result .pf-inner03{padding:0 ;line-height:1.5rem ;font-weight: 200;}

.pf-cont{display:flex;align-items: center;justify-content: center;gap:0.9cm;padding:0 1.9cm;margin-top: 0.37cm;}
.pf-cont .pf-rank-tit p{font-size: 1.3rem;font-family: 'tway';}
.pf-cont .pf-rank-tit p:first-child{display: flex;align-items: center;justify-content: space-between;margin-bottom: 0.2cm;}
.pf-cont .pf-rank-ul{display:flex;align-items: center;gap:0.7cm;}
.pf-cont .pf-rank-ul li{text-align: center;list-style:none;}
.pf-cont .pf-rank-ul span{font-size: 1rem;color:#676767;font-family: 'tway';}
.pf-cont .pf-rank-ul p{font-size: 1.5rem; color:#000000;margin-top: 0.18cm ;font-family: 'tway';}

.pf-cont .pf-rank-ul.quality li{position: relative;margin-top: 0.38cm;}
.pf-cont .pf-rank-ul.quality .icon{width: 1.4cm;height: 1.4cm;}
.pf-cont .pf-rank-ul.quality p{font-size: 1.1rem;margin-top: 0.52cm;}
.pf-cont .pf-rank-ul.quality .icon.ic-arrow{width:0.5cm;height:0.5cm;position:absolute;right:-22px;top:17px;}


.pf-result-dt {margin:0.28cm 2cm 0 2cm}
.pf-result-dt .icon{width:0.63cm;height:0.64cm;}
.pf-result-dt > div{display: flex; align-items: center;gap:0.3cm;margin-bottom: 0.4cm;}
.pf-result-dt p{font-size: 1rem;font-weight: 200;}
.pf-result-dt > div:last-child{margin-bottom: 0;}
.pf-result-dt span:not(.icon){font-size: 1rem;font-family: 'tway';}
.pf-result-dt p::before{content: '｜';padding-right:0.3cm;font-weight: 200;}

.rank-detail-ul{margin: 0.68cm 0.7cm 0 0.7cm;}
.rank-detail-ul li:first-child{font-size: 1.2rem;font-family: 'tway';margin-bottom: 0.5cm;margin-top: 0;}
.rank-detail-ul li{font-weight: 200;font-size: 0.9rem;list-style: none;margin-top: 0.28cm;}

table.tbl{margin-top:0.42cm;font-weight:500}
.bd_right{border-right:0.025cm dashed #ccc;}
table.tbl th{background:#e04f44;height:0.6cm;vertical-align:middle;font-size:0.575rem;border-right:0.03cm dotted #fec4b6;color:#fff;font-weight: 400;}
table.tbl th:last-child{border-right:0}
table.tbl td[rowspan]{font-size:0.938rem;vertical-align: middle;text-align:center;background:#ffe1d9;font-weight: 400;}
table.tbl td{font-size:0.33rem;padding:0.15cm 0.26cm;text-align:center;border-bottom:0.03cm dotted #fec4b6;border-right:0.03cm dotted #fec4b6;;vertical-align: middle;font-weight: 400;}
table.tbl td:last-child{text-align:left;border-right:0}

.team_inner{padding:0.66cm 0 0 0;}
.team_inner h1{font-size:1.5rem;font-weight:700;display:flex;flex-direction: row;margin:0 0 0.53cm 0}
.team_inner h1 .team_name{width:auto;min-width:3.175cm;border-bottom:0.07cm solid #E87474;color:#000;text-align:center}
.team_inner h1 span{font-weight:500;font-size:1.25rem;margin-top:0.09cm}
.team_inner .team_script{font-size:1rem; display:flex}
.team_inner .team_script .team_name01{width:auto;min-width:3.175cm; border-bottom:0.025cm solid #000;color:#000;margin:0 0.2cm;font-weight:700;text-align:center}

.team-graph-wrap{/*width:100%;*/height:7.93cm;border:0.079cm solid #B2B2B2;background:#fff;margin:0.53cm 0.7cm 0 0.7cm;padding:0.264cm;}
.team-graph-wrap02{/*width:100%;*/height:13cm;border:0.079cm solid #B2B2B2;background:#fff;margin:0.53cm 0.7cm 0 0.7cm;padding:0.264cm;}
.team-graph-wrap03{/*width:100%;*/height:9.65cm;border:0.079cm solid #B2B2B2;background:#fff;margin:0.53cm 0.7cm 0 0.7cm;padding:0.264cm;}

.team-graph-type{display:flex;flex-direction: row;justify-content: space-between;margin:0.82cm 0 0 0}
.team-graph-type .team-graph-type-inner{width:9.25cm;} 
.team-graph-type .team-graph-type-inner .team-graph-graph{width:100%;height:5.03cm;text-align:center;}
.team-graph-type .team-graph-type-inner .type-tit{width:100%;height:1.22cm;color:#fff;font-size:1.125rem;display:flex;justify-content: center; align-items: center;}


table.tbl01{border-top:0.025cm solid #bbb;border-left:0.025cm solid #bbb;margin-top:0.42cm;width:100%;font-weight:500}
table.tbl01 th{background:#e9e9e9;height:1.19cm;vertical-align:middle;border-bottom:0.025cm solid #bbb;border-right:0.025cm solid #bbb;font-size:0.875rem}
table.tbl01 td{font-size:0.813rem;padding:0.26cm;text-align:center;border-bottom:0.025cm solid #bbb;border-right:0.025cm solid #bbb;vertical-align: middle;background:#fff}
table.tbl01 td:first-child{color:#000;;font-weight:700}


table.tbl02{border-top:0.025cm solid #bbb;border-left:0.025cm solid #bbb;margin-top:0.42cm;width:100%;font-weight:500}
table.tbl02 th{background:#e9e9e9;height:1.19cm;vertical-align:middle;border-bottom:0.025cm solid #bbb;border-right:0.025cm solid #bbb;font-size:0.875rem}
table.tbl02 td{font-size:0.813rem;padding:0.26cm;text-align:center;border-bottom:0.025cm solid #bbb;border-right:0.025cm solid #bbb;vertical-align: middle;background:#fff;
height:4cm;word-wrap: break-word}
table.tbl02 td:not(:last-child){}

table.tbl02 td[rowspan]{font-size:0.938rem;vertical-align: middle;text-align:center;font-weight:700}


table.tbl03{border-top:0.025cm solid #bbb;border-left:0.025cm solid #bbb;margin-top:0.42cm;width:100%;font-weight:500}
table.tbl03 th{background:#e9e9e9;height:1.19cm;vertical-align:middle;border-bottom:0.025cm solid #bbb;border-right:0.025cm solid #bbb;font-size:0.875rem}
table.tbl03 td{font-size:0.813rem;padding:0.2cm;text-align:center;border-bottom:0.025cm solid #bbb;border-right:0.025cm solid #bbb;vertical-align: middle;background:#fff}
table.tbl03 td[rowspan]{font-weight:700}
table.tbl03 tr:nth-child(2) td:nth-child(3),
table.tbl03 tr:nth-child(7) td:nth-child(3),
table.tbl03 tr:nth-child(n+2) td:nth-child(2){text-align:left}
table.tbl03 tr:nth-child(2) td:nth-child(2),
table.tbl03 tr:nth-child(7) td:nth-child(2){text-align:center}

.team-rating{background:#f0f0f0;padding:0.53cm;margin-top:0.34cm}
.team-rating .team-rt-tit{font-size:1rem;color:#000;font-weight:700}
.team-rating{background:#f0f0f0;padding:0.53cm}
.team-rating ul{padding-bottom:0;margin-top:0.4cm;display:flex;flex-direction:row;justify-content:flex-start;list-style: none;}
.team-rating ul li{width:33.333%;font-size:0.875rem;display:flex;flex-direction: row; justify-content: space-between;}
.team-rating ul li .ic-con{width:1.06cm;}
.team-rating ul li .txt{width:calc(100% - 1.06cm);font-size:0.75rem;color:#000;margin-top:-0.15cm}


.result_inner{padding:0.66cm 0 0 0;}
.result_inner h1{font-size:1.5rem;font-weight:700;display:flex;flex-direction: row;margin:0 0 0.53cm 0}
.result_inner h1 .label{height:1.059cm;color:#fff;padding:0 0.79cm;border-radius: 0.75cm;font-size:1.125rem;margin-left:0.3cm;display:flex;align-items: center;}
.result_inner .team_script{font-size:1rem; display:flex}

table.tbl_rsv{border-top:0.025cm solid #bbb;margin-top:0.42cm;width:100%;font-weight:500}
table.tbl_rsv th{background:#fff;height:0.98cm;vertical-align:middle;border-bottom:0.025cm solid #bbb;border-right:0.025cm solid #bbb;font-size:0.875rem}
table.tbl_rsv td{font-size:1.06rem;height:1.48cm;text-align:center;border-bottom:0.025cm solid #bbb;border-right:0.025cm solid #bbb;vertical-align: middle;background:#fff;font-weight:700}
table.tbl_rsv th:last-child,
table.tbl_rsv td:last-child{border-right:0}

.tbl-pdi-wrap{display: flex;gap:0.4cm;align-items: center;}
table.tbl_pdi{border-top:0.01cm solid #bbb;margin-top:1.05cm;width:100%;font-weight:500}
table.tbl_pdi tr:first-child{border-top: 1px solid #3a4ca8;}
table.tbl_pdi td{padding:0 0.5cm;font-size:0.7rem;min-height:0.55cm;text-align:center;border-bottom:0.01cm solid #bbb;border-right:0.01cm solid #bbb;vertical-align: middle;background:#fff;font-weight: 400;}
table.tbl_pdi td:last-child{border-right:0}
table.tbl_pdi tr:nth-child(-n+4){border-left: 1px solid #3a4ca8;border-right: 1px solid #3a4ca8;}
table.tbl_pdi tr:nth-child(5){border-top: 1px solid #00ddc1;}
table.tbl_pdi tr:nth-child(9){border-top: 1px solid #fe5060;}
table.tbl_pdi tr:nth-child(13){border-top: 1px solid #ffbc44;}
table.tbl_pdi tr:nth-child(16){border-bottom: 1px solid #ffa401;}
table.tbl_pdi tr:nth-child(n+5):nth-child(-n+8){border-left: 1px solid #00ddc1;border-right: 1px solid #00ddc1;}
table.tbl_pdi tr:nth-child(n+9):nth-child(-n+12){border-left: 1px solid #fe5060;border-right: 1px solid #fe5060;}
table.tbl_pdi tr:nth-child(n+13):nth-child(-n+16){border-left: 1px solid #ffa401;border-right: 1px solid #ffa401;}

.tbl-pdi-tit{list-style: none;margin-top: 0.5cm;}
.tbl-pdi-tit li{font-family: 'tway';font-size: 1.2rem;line-height: 1.4rem;margin-bottom: 0.5cm;}
.tbl-pdi-tit li:last-child{margin-bottom: 0;}

table.tbl04{border-top:0.025cm solid #bbb;border-left:0.025cm solid #bbb;margin-top:0.42cm;width:100%;}
table.tbl04 th{background:#e9e9e9;height:0.98cm;vertical-align:middle;border-bottom:0.025cm solid #bbb;border-right:0.025cm solid #bbb;font-size:1.19rem}
table.tbl04 td{height:3.97cm;min-height:3.97cm;font-size:0.95rem;padding:0 0.26cm;text-align:left;border-bottom:0.025cm solid #bbb;border-right:0.025cm solid #bbb;vertical-align: middle;background:#fff;color:#333;font-weight:500}
table.tbl04 td:first-child{font-weight:700;font-family: 'Roboto', sans-serif;font-size:1.063rem;color:#333;text-align:center}

.graph_all{width:100%;display:flex;flex-direction: column;margin-top:0.62cm}
.graph_all .graph_all_innter{width:100%;height:6.88cm;margin-top:0.6cm}

.graph_label{min-width:3.97cm;height:1.059cm;color:#fff;padding:0 0.79cm;border-radius: 0.75cm;font-size:1.125rem;margin:0 auto;display:flex;align-items: center;justify-content: center;}

.graph_all + .graph_all{margin-top:0}

.graph_comment{display:flex;justify-content: space-between; align-items: center; flex-direction: row; position:relative}
.graph_comment a{width:120px;}

.comment-con{height:2.91cm}
.comment-con .cmt-tit{font-size:1em;border-bottom:0.025cm solid #bbb;font-weight:700;height:0.79cm;display:flex;align-items: center;}
.comment-con p{font-size: 0.95rem;height:1.6cm;overflow-x:hidden;overflow-y:auto;margin:0.26cm 0 0.53cm;}

.graph_popup{position:absolute;bottom:50px;left:0px;width:345px;height:300px;border:1px solid #ccc;padding:0 15px;background:#fff}
.graph_popup h1{width:100%;height:53px;display:flex;flex-direction:row;justify-content:space-between; font-size:1rem;color:#000;margin:0;align-items: center;}
.graph_popup h1 .close_btn{width:20px;height:20px;background:url("../img/btn_close.png") no-repeat 0 0;font-size:0;}
.graph_popup textarea{width:315px;height:160px;background:#fff;border:1px solid #e3e3e3;padding:10px;color:#333;outline:none;resize: none;}
.graph_popup .btn_area{width:100%;height:42px;margin-top:10px;align-items: center;justify-content: center;display:flex}
.graph_popup .btn_area a{margin:0 5px;width:100px}
.graph_btn_area{display:flex;flex-direction:row}
.graph_btn_area a:first-child{margin-right:5px}

/*btn*/
.btn-red { width:auto; background:#ff5100; border-radius:52px; align-items: center; display:flex; justify-content: center; box-shadow: inset -2px 2px 4px rgb(0 0 0 / 50%); color:#fff; } 

.btn_basic_01{width:auto;height:40px;color:#fff; text-decoration: none; font-size:1rem;
  background:linear-gradient(to top,#F9BF19 50% ,#FFA044 50%);border:1px solid #f59648; box-shadow: 0 3px 4px 0 rgba(134, 134, 134, 0.25);
  border-radius:20px; font-weight:500;align-items: center; display:flex; justify-content: center;}

.btn_basic_01:hover{background:linear-gradient(to top,#e7af14 50% ,#f08f2f 50%);color:#fff}

.btn_basic_02{width:auto;height:40px;color:#555; text-decoration: none; font-size:1rem;
  background:#fff;border:1px solid #E4E4E4; box-shadow: 0 3px 4px 0 rgba(134, 134, 134, 0.25);
  border-radius:10px; font-weight:500;align-items: center; display:flex; justify-content: center;}

.btn_basic_02:hover{color:#333}


.btn_basic_03{width:auto;height:40px;color:#fff; text-decoration: none; font-size:1rem;
  background:rgba(51,51,51,1);border:1px solid #E4E4E4; box-shadow: 0 3px 4px 0 rgba(134, 134, 134, 0.25);
  border-radius:10px; font-weight:500;align-items: center; display:flex; justify-content: center;}

.btn_basic_03:hover{background:rgba(0,0,0,1)}

/* icon */
.icon{width:100%;height:100%;font-size: 0;display: inline-block;}
.ic-openness{background: url(../img/ic-openness.png)no-repeat center/contain;}
.ic-sincerity{background: url(../img/ic-sincerity.png)no-repeat center/contain;}
.ic-extraversion{background: url(../img/ic-extraversion.png)no-repeat center/contain;}
.ic-friendly{background: url(../img/ic-friendly.png)no-repeat center/contain;}
.ic-arrow{background: url(../img/arrow.png)no-repeat center/contain;}

.ic-chkbox{width:0.33cm;height:0.33cm;border:2px solid #000;display: inline-block;}

/*표지*/
#page_intro{height:100%;padding:0.42cm 0.4765cm ;position:relative;  font-family:'tway';}
#page_intro .page_corner{width:0;height:0;border-right:0.582cm solid #ffffff;border-left:0.582cm solid #c4c4c4;border-top:0.582cm solid #ffffff;border-bottom:0.582cm solid #c4c4c4;position:absolute;top:0.42cm;right:0.4765cm;z-index:3}
#page_intro .page_inner{width:10cm;margin: 0 auto;}
#page_intro .page_inner01{width:100%;margin-top: 6.1cm;}

#page_intro .intro_img{background: url(../img/intro_img.png)no-repeat center/contain;width:8.66cm;height:6.77cm;margin:0 auto 1.11cm;}
#page_intro .intro_tag{position:absolute;top:1.69cm;right:1.69cm;font-style: italic; font-weight:700;text-align: center;letter-spacing:-0.05rem;color:#333;display:flex;flex-direction: column;}
#page_intro .intro_tag span{width:1.72cm;height:0.05cm;background:#FFDF6C;margin:0 auto 0.26cm auto}
#page_intro .intro_tit li{display:flex;justify-content: center;align-items: center;font-family:'tway';text-align: center; font-size:3.7rem;color:#ff5100;}
#page_intro .intro_tit li:first-child{line-height: 4.1rem;}
#page_intro .intro_tit li:last-child{border-bottom:0;font-size: 1.2rem;margin-top: 0.78cm;}

#page_intro .intro_partner{display:flex;flex-direction: column;list-style-type:none;margin-top: 2.78cm;margin-bottom: 3.5cm;}
#page_intro .intro_partner li:first-child{margin-bottom:1.16cm}
#page_intro .intro_partner .btn-red{width:4cm;height: 1.24cm;font-size: 1.5rem;font-family:'tway';}
#page_intro .intro_partner li:last-child .btn-red{background-color: #707070;}

#page_intro #page_footer{width:3.95cm;height: 1.15cm; position:absolute;bottom:0.45cm;right:0; background:url("../img/footer-logo.png")no-repeat center/contain ;
  font-size:0}
canvas{height:100%;width:auto;max-height:100%;margin:0 auto}


@media print {

  * {-webkit-print-color-adjust: exact; print-color-adjust: exact; } /*safari*/

  body, page {
    margin: 0;
    box-shadow: 0;
  }
  html,body{margin:0;padding:0;page-break-after:avoid;page-break-before:avoid}
  .body, .page {margin-top:-1px}
  .page:first-child { page-break-before: auto;  page-break-inside: avoid }

  .page {
    overflow:hidden;
    position:relative;
    width:210mm;
    height:297mm; 
    height:calc(297mm - 1px);
    page-break-before: always
  }
  .page > .content { 
    position:absolute;
    top:0;
    left:0;
    right:0;
    width:100%;
    height:100%
  } 
}

.center{justify-content: center;}